#container1{
    margin: 50px 0px
}

#pic {
    max-height: 350px;
    object-fit: contain;
    border-radius: 80px;
}

#idCard {
    margin-right: 40px;
    /* max-width: fit-content; */
    max-height: fit-content;
    border-radius: 90px 5px 90px 5px;
    padding: 40px 10px 25px 10px;
}

#cardTitle{
    font-size: 26px;
    font-weight: bolder;
}

#welcome{
    color: whitesmoke;
    width: 85rem;
    background-color: rgb(45, 56, 72);
    border-radius:10px 90px 90px 10px;
    border: solid gray
}

.welcomP{
    font-size: 20px;
    text-indent: 1.5rem;
}



